<html>

<head>
  <meta charset="utf-8">
    <title>UW IoT Lab4 Extra Credit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
  <div class="container panel">
    <div class="container well well-sm">
      <h3 id='title'>Lab 4 Extra Credit GPIO Server Sent Events</h3>
    </div>

    <div class="container well">
      <div class="row">
        <div class="col-md-4">
          <h4>Chip ID: </h4>
        </div>
        <div class="col-md-4">
          <h4>
            <span id="chip_id" class="label label-default">0</span></h4>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <h4>Chip Version: </h4>
        </div>
        <div class="col-md-4">
          <h4><span id="chip_version" class="label label-default">0</span></h4>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <h4>Temperature (F): </h4>
        </div>
        <div class="col-md-4">
          <h4>
            <h4><span id="temperature" class="label label-default">0</span></h4>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <h4>Pressure (hPa): </h4>
        </div>
        <div class="col-md-4">
          <h4>
            <h4><span id="pressure" class="label label-default">0</span></h4>
        </div>
      </div>
  
  <script type="text/javascript">
  var switchSource = new EventSource("{{ url_for('myData') }}");
  switchSource.onmessage = function(e) {
    console.log(e.data);
  }
</script>


{% include 'lab3js.html' %}



</body>

</html>